<?xml version="1.0" ?>

<launch>

	<arg name="RVIZ" default="false"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
		<arg name="world_name" value="$(find mini_robot_description)/worlds/cafe_world"/>
	</include>
	
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0.15"/>

	<param command="$(find xacro)/xacro --inorder $(find mini_robot_description)/urdf/mini_robot_description.xacro" name="robot_description"/>

	<node args="-param robot_description 
				-urdf -model mini_robot_description 
				-x $(arg x) -y $(arg y) -z $(arg z)" 
			name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>	

	<node name="teleop_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>

	
	<arg name="rviz_file" default="$(find mini_robot_description)/rviz/gazebo.rviz"/>
	
	<group if="$(arg RVIZ)">
    	<node  name="rviz"  pkg="rviz"  type="rviz"  args="-d $(arg rviz_file)" />
    </group>

</launch>